<div class="row align-center">
	<div class="card columns small-12 large-8 medium-8">
		<h2>Welcome to ReqCheck</h2>
		<p>ReqCheck is a tool for checking patients' immunization records. It will tell you if they're due for immunizations, or when they need them next.</p>
	</div>
	<div class="card columns small-12 large-8 medium-8">
		<% if alert %>
			<p class="callout alert"><%= alert %></p>
		<% end %>
		<% if signed_in? %>
			<div class="small-12 large-8 medium-8 ">
				<%= link_to "New Search".html_safe, patients_path, class: "button margin-bottom-10"  %>
			</div>
		<% else %>
			<%= render 'form' %>
		<% end %>
	</div>
</div>