<div class="row text-center align-center welcome-center">
	<div class="columns small-8">
		<h1>Welcome to RecordCheck</h1>
		<div>
			<p>Built with care by the KCMO fellows for the KCMO Health Department</p>
			<%= link_to "Login", { controller: "welcome", action: "login" }, class: "button radius" %>
		</div>
	</div>
</div>