<%= form_tag(patients_path, method: "post", id: "search-form") do %>
<%= label_tag "Insight Patient Number" %>
<%= text_field_tag :search, params[:search], placeholder: "Search Patients" %>
<button><%= submit_tag "Search", class:"button" %></button>
<% end %>
