<p id="notice"><%= notice %></p>
<div class="row align-center">
<div class="card columns small-8 patient-info">

<% if @patients.length != 0 %>
  <% if @patients[0].nil? %>
    <p class="callout alert">We couldn’t find that record. Please try again.</p>
  <% end %>
<% end %>
<h1 class="">Search Patients</h1>
<%= render 'search' %> <a href=""></a>
<!-- Optional earch results display -->

<div class="result-box">
    <h2>Search Results</h2>
        <a href="">
        <span class="result-name">Kevin Berry</span>
        <div>
            <span><strong>Patient #:</strong> 1</span> <span><strong>Date of Birth:</strong> 02/08/1990</span> <span><strong>Age:</strong> 26</span>
        </div>
        </a>
</div>

</div>
</div>