<p id="notice"><%= notice %></p>
<div class="row align-center">
<div class="card columns small-8">

<% if @patients.length != 0 %>
  <% if @patients[0].nil? %>
    <p class="callout alert">We couldn’t find that record. Please try again.</p>
  <% end %>
<% end %>
<h1 class="">Search Patients</h1>
<%= render 'search' %>

</div>
</div>
