<p id="notice"><%= notice %></p>

<h1>Insight Patient Number</h1>
<%= render 'search' %>

<% if @patient %>
  <%= @patient.name %>
<% else %>
  <p>We couldn’t find that record. Please try again.</p>
<% end %>