<p id="notice"><%= notice %></p>
<div class="row">
<div class="card columns small-8 small-centered">
	<% if @patient %>
	  <%= @patient.name %>
	<% else %>
	  <p class="callout alert">We couldn’t find that record. Please try again.</p>
	<% end %>
	<h1>Search</h1>
	<%= render 'search' %>

</div>
</div>