<p id="notice"><%= notice %></p>
<div class="row align-center">
<div class="card columns small-8">

<% if @patients.length != 0 %>
  <% if @patients[0].nil? %>
    <p class="callout alert">We couldn’t find that record. Please try again.</p>
  <% end %>
<% end %>
<h1 class="">Search Patients</h1>
<%= render 'search' %>

<hr>
<h2>Search Results</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Patient #</th>
            <th>Date of Birth</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kevin Berry</td>
            <td>1</td>
            <td>02/08/1990</td>
            <td>26</td>
        </tr>
    </tbody>
</table> 

</div>
</div>