.footer {
  margin-top: 30px;
  padding: 30px;
  background-color: $kc-grey;
  color: $kc-teal;
  
  div {
    div {
      text-align: center;
    }
  }
  a {
    text-decoration: underline;
    color: $kc-teal;

    &:hover {
      color: $kc-grey;
    }
  }
}