.footer {
  bottom:0;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background-color: $kc-grey;
  color: $kc-teal;
  
  div {
    div {
      text-align: center;
    }
  }
  a {
    text-decoration: underline;
    color: $kc-teal;
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}