footer {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  background-color: $kc-grey;
  color: $kc-teal;

  div {
    div {
      text-align: center;
    }
  }
  a {
    text-decoration: underline;
    color: $kc-teal;
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}

  /* Sticky footer styles
  -------------------------------------------------- */

html,body {
  height: 100vh !important;
  /* The html and body elements cannot have any padding or margin. */
  }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100vh !important;
  height: auto !important;
  width: 100%;
  height: 100% !important;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px !important;
}

/* Set the fixed height of the footer here */
#push, footer {
  height: 100px !important;
}