$table-borders:.5pt solid black;


* {
	font-family: "Book An­ti­qua", "Cal­isto MT", serif!important;
	font-size: 11pt!important;
	line-height: 1.3;
}

path {fill:black;}
svg {width: 2rem; height: 2rem;}

.header,footer,.vaccine-record a {
	display:none;
}
table * {
	border:none;
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left:none;
}

table{
	border:$table-borders;
	margin-bottom: 10px;
}

.no-dose, .vaccine-record .vax-name {
	border:none; 
}
.no-dose { background-color: white!important;}
#callout-patient {
	.explanation {margin-left:3rem;}
	p,h2 {display:inline;}
}

.varicella-history {
	display: table-row;
	border: $table-borders;
	border-top: none;
}

.patient-info {
	table,tr,td {
		border:none;
	}
	thead {
		border-bottom:$table-borders;
		background-color: white;
	}
	p {display: block;}
}

.small-8 {
	max-width:100%;
	flex:100%;
}

 table { page-break-inside:avoid; }
 tr    { page-break-after:avoid;}
 /*td    { page-break-inside:avoid; page-break-after:auto; }*/
 thead { display:table-header-group; }
 thead th, tbody td {padding:0.4rem 0.625rem;}

 .card {padding:0; margin:0;}

.vaccine-record {
	margin-top: 1rem;
	tbody {border: $table-borders;}
	h3 {display:none;}
}
